@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*------------------Colours*/

.bg-color-name-motto{
    background-color: transparent;
}

.bg-color-welcome {
    background-color: #fff;
}

.bg-color-objectives {
    background-color: lightgrey;
}

.link-color-home{
    background-color: lightskyblue;
}
.link-color-activities {
    background-color: lightsteelblue;
}
.link-color-gallery {
    background-color: plum;
}
.link-color-join {
    background-color: tomato;
}

.bg-color-join {
    background-color: white;
}
/*------------------Special margins/paddings/text*/
h1,
h2,
h3,
h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: ivory;

}
.inline-block {
    display: inline-block;
}


.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/*------------------Heading*/
.heading {
    margin: 0;
}
    .heading-image {
    background: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
    .heading-logo {
    background: url("../images/nwclogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.heading-logo h4 {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 35px;
    color: black;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 62px;
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
}
.motto {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 25px;
    font-style: italic;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.linkcontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}
#nav li {
    font-size: 16px;
    padding: 0;
}

.linkitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.linkitem a {
    width: 100%;
    text-decoration: none;
    height: 120px;
    color: white;
}
.linkitem a i {
    padding-top: 20px;
    color: whitesmoke;
    display: block;
    font-size: x-large;
}
.linkitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: larger;
    font-weight: normal;
}
/*----------------------------Hover.css*/
.hvr-sweep-to-top:before {
    background: rgba(0,0,0, 0.2);
    height: 120px;
}

.overlay:hover {
    opacity: 1;
    color:black;
}

/*-------------------------------activity section*/
.row {
    position: relative;
}

.bg-color-spin {
 background: url("../images/Spin.jpg");
 background-color: #cccccc;
   height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.activity-text {
   font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: max(0.8em, 12px);
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    margin-left: 10px;
    position: absolute;
    background-color: lavender;
    visibility:visible;
    color:black;
}
.activity-name {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    text-align: center;
    width: 75%;
    font-size: 16px;
    color:whitesmoke;
    background: black;
    z-index: 3;
}

.overlay {
    opacity: 0;
}
.bg-color-swim {
 background: url("../images/swim.jpg");
 background-color: #cccccc;
   height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-color-afrofusion {
 background: url("../images/afrofusion.jpg");
 background-color: #cccccc;
   height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-color-gym {
 background: url("../images/gym.jpg");
 background-color: #cccccc;
   height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}




/*-------------------------------gallery*/
/*-------------------------------code idea for gallery layout obtained from w3school.com*/
.gallery-pics {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/*-------------------------------Contact Form*/
.join-heading {
    font-family:"Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.btn {
    margin-top: 15px;
    margin-bottom: 20px;
    color: ivory;
    background-color: orangered;
}

/*----------------------------Media Queries*/

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

@media(min-width: 992px) {
.center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}


/*-------------------------------footer*/
footer {
    background-color: slategray;
    color: ivory;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: ivory;
    background: lightgrey;
    transition: all 0.35s ease-in-out ;
    -moz-transition: all 0.35s ease-in-out ;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: orangered;
}

#footer-details {
    padding: 20px;
}

